<button mat-raised-button [routerLink]="['/admin/edit-category']"> Add </button>
<table mat-table [dataSource]="categories" title="Categories">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef>Enabled</th>
        <td mat-cell *matCellDef="let element"> {{element.enabled}} </td>
    </ng-container>

    <ng-container matColumnDef="modifiedOn">
        <th mat-header-cell *matHeaderCellDef>Modified On</th>
        <td mat-cell *matCellDef="let element"> {{element.modifiedOn}} </td>
    </ng-container>

    <ng-container matColumnDef="modifiedBy">
        <th mat-header-cell *matHeaderCellDef>Modified By</th>
        <td mat-cell *matCellDef="let element"> {{element.modifiedBy}} </td>
    </ng-container>

        <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <a mat-raised-button [routerLink]=" ['/admin/edit-', element.id]" class="mr-16 text-blue-300 pt-1">
                Edit
            </a> 
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
