<mat-card>
    <mat-card-title>Category</mat-card-title>
    <mat-card-content>
        <form [formGroup]="categoryForm">
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" id="name" formControlName="name">
            </mat-form-field>
            <br/>
            <mat-checkbox name="required" [checked]= "enabled" (change)="OnCheckboxChanged($event)">Enabled</mat-checkbox>
        </form>
    </mat-card-content>
    <button mat-raised-button (click)="onSubmit()">Save</button>
    <button mat-raised-button [routerLink]="['/admin/list-category']">Cancel</button>
</mat-card>
