<table mat-table [dataSource]="customers" title="Customers">
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="middleInitial">
        <th mat-header-cell *matHeaderCellDef>Middle Initial</th>
        <td mat-cell *matCellDef="let element"> {{element.middleInitial}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="shippingAddress">
        <th mat-header-cell *matHeaderCellDef>Shipping Address</th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="billingAddress">
        <th mat-header-cell *matHeaderCellDef>Billing Address</th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="modifiedOn">
        <th mat-header-cell *matHeaderCellDef>Modified On</th>
        <td mat-cell *matCellDef="let element"> {{element.modifiedOn}} </td>
    </ng-container>

    <ng-container matColumnDef="modifiedBy">
        <th mat-header-cell *matHeaderCellDef>Modified By</th>
        <td mat-cell *matCellDef="let element"> {{element.modifiedBy}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
